table, th, td {
	border: 1px solid black; 
	}
	

/* remove color: transparent from here to get #s back */
td.water, td.ship, td.miss, td.hit, td.hit-ship, td.hit-ship, td.processing {
	height: 50px;
	width: 50px;
	color: transparent;
	}
h1 {
     text-transform: uppercase;
	 text-transform: capitalize;
	 color: blue;
}
#timer {
	float: right;
	font-size: 300%;
	padding-right: 150px;
	}
	
.ready {
	color: green;
	}
	
td {
	 cursor:crosshair;
	}
	
td.score {
	padding: 10px;
	}

td.water {
	background-color: cyan;
	background-image: url("assets/ocean.jpg");
	}

td.ship {
	background: url("assets/ship.svg") no-repeat gray;
	}
	
td.miss {
	background-color: white;
	background-image: url("assets/miss.png");
	}
	
td.hit {
	background-color: white;
	background-image: url("assets/RedX.png");
	}
	
td.hit-ship {
	background-color: purple;
	background-image: url("assets/explosion.gif");
	}
	
td.processing {
	background: url("assets/process.gif") no-repeat white;
	}
	